.navigation
    @include flexbox-center-wrap
    justify-content: flex-start
    height: 48px
    width: 100%
    background-color: $primary

    a:nth-of-type(1)
        font-size: 28px
        padding: 0px 16px
        font-weight: $extra-bold
        color: $white

    a:nth-of-type(n+2)
        text-transform: uppercase
        padding: 8px 8px 0px
        font-size: $size-xs
        color: $white
        font-weight: $medium
